.track {
    display: flex;
    flex-wrap: nowrap;
    min-width: 70%;
    align-items: center;
    justify-content: space-between;
    margin: 2% auto;
    padding: 0 2%;
    background-color: cadetblue;
}
