.library {
    width: 49%;
    display: flex;
    margin: 1% auto;
    
    flex-direction: column;
    align-items: center;
    background-color: #393E46;
    border-radius: 10px;
}

.libraryTitle {
    font-size: 1.2rem;
}

.listContainer {
    background-color: #222831;
    width: 95%;
    text-align: left;
    border-radius: 8px;
    padding: 5% 1% 3% 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playlistName  {
    width: 90%;
    padding: 1% auto;
    margin: 1% auto;
    border-radius: 8px;
    background-color: #393E46;
}

.playlist {
    padding-left: 5%;
}

@media screen and (max-width: 700px) {
    .library {
        width: auto;
    }

    .libraryTitle {
        font-size: 1rem;
    }

    .playlist {
        font-size: 0.8rem;
    }
}