.searchBar {
    display: flex;
    gap: 1%;
    justify-content: center;
    padding: 5% 0;
    font-size: 1.5rem;
}

.searchBarLabel {
    cursor: pointer;
}

.searchBar input {
    width: 25%;
}


@media screen and (max-width: 700px) {
    .searchBar {
        font-size: 1.2rem;
    }   
    
    .searchBar input {
        width: 50%;
    }
}