.playlist {
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #393E46;
    margin: 0 auto;
    padding-bottom: .5%;
    border-radius: 3% 3% 3% 3% / 1% 1% 1% 1%;

}

.playlistNameDisplay, .playlistNameEdit {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    padding: 1.5% 0;
    font-size: 1.2rem;
}

.playlistNameEdit input {
    font-size: 1rem;
}

.fontAwsomeIcon {
    cursor: pointer;
}

.button {
    margin: 2% 0;
    padding: 1% 3%;
    box-shadow: 1px 1px 3px #00561e;
    text-shadow: 1px 1px 1px #00561e;
    color: #fff;
    background-color: #222831;
    font-size: 1rem;
}

@media screen and (max-width: 700px) {
    .playlist {
        width: 99%;
    }

    .playlistNameDisplay, .playlistNameEdit {
        font-size: 1rem;
    }
}
