
.app {
  width: 100%;
  background-color: #222831;
  box-shadow: 1px 1px 5px #93faa3;
  border-radius: 10px;
  
}

.playlistSearchResultsContainer {
  display: flex;
}

.widthDivider {
  display: flex;
}

@media screen and (max-width: 700px) {
  .playlistSearchResultsContainer{
    display: flex;
    flex-direction: column-reverse;
  }

  .widthDivider {
    display: flex;
    flex-direction: column;
  }
}