
.app {
  width: 100%;
  background-color: #222831;
}

.playlistSearchResultsContainer {
  display: flex;
}

@media screen and (max-width: 700px) {
  .playlistSearchResultsContainer{
    display: flex;
    flex-direction: column-reverse;
  }
}